.graph-container {
    height: calc(100vh - 50px);
}
.d-flex {
    display: flex;
}
.justify-content-center {
    justify-content: center;
}
.ml-10 {
    margin-left: 10px;
}
.btn {
    width: 200px;
    text-align: center;
    background-color: rebeccapurple;
    outline: none;
    border: none;
    padding: 10px 0;
    font-size: 12px;
    font-weight: bold;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    &:hover {
        transform: translateY(-1px);
        box-shadow: 0 4px 17px rgba(0, 0, 0, 0.20);
    }
    &:disabled {
        cursor: not-allowed;
        transform: none;
        box-shadow: none;
        background-color: grey;
    }
}
