<h1 class="header">Algorithm Visualizer</h1>
<div class="d-flex justify-content-center">
    <img src="../../assets/algo-pic.png" alt="Algorithm image" style="margin-top: -50px;">
</div>
<div class="d-flex flex-wrap p-5">
    <div class="card">
        <a class="link" routerLink="/bubble-sort">Bubble Sort</a>
    </div>
    <div class="card">
        <a class="link" routerLink="/selection-sort">Selection Sort</a>
    </div>
    <div class="card">
        <a class="link" routerLink="/insertion-sort">Insertion Sort</a>
    </div>
    <div class="card">
        <a class="link" routerLink="/quick-sort">Quick Sort</a>
    </div>
</div>
